Downloads/
Documents/
GDrive/
Work/
Arduino/

.GA_ClientID
.install4j

.AstroDMx/
.ICAClient/
.arduino15/
.SimSmith/
.aspnet/
.aws/
.azuredatastudio/
.bundle/
.cache/
.conan/
.gnupg/
.cups/
.dmrc
.gem/
.templateengine/

.audacity-data/
.config/azuredatastudio/
.config/BraveSoftware/
.config/GIMP
.config/NanoVNASaver/
.config/configstore/
.config/dconf/
.config/discord/
.config/fontconfig/fonts.conf.new
.config/fontconfig/fonts.conf.orig
.config/gdfuse/
.config/gtk-2.0/
.config/gtk-3.0/
.config/helm/
.config/htop/
.config/JetBrains/
.config/KeePass/
.config/Lens/
.config/menus/
.config/modem-manager-gui/
.config/Microsoft/
.config/.mono/
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/nvim/plugged/
.config/nvim/sessions/
.config/pulse
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/spotify/
.config/Slack/
.config/teams/
.config/teamviewer/
.config/Unknown Organization/
.config/whatsapp-nativefier-d40211/
.config/zoomus.conf
.config/zsh/.zcompdump
.dotnet/
.gitconfig
.gnome/
.java/
.kube/
.local/share/TelegramDesktop/
.local/share/applications/
.local/share/backgrounds/
.local/share/gdfuse/
.local/share/gem/
.local/share/history
.local/share/JetBrains/
.local/share/SimSmith/
.local/share/SymbolSourceSymbols/
.local/share/lf/
.local/share/MicrosoftCredentialProvider/
.local/share/newsboat/
.local/share/NuGet/
.local/share/nvim/
.local/share/recently-used.xbel
.local/share/teamviewer15/
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.local/src/
.local/bin/
.local/include/
.local/lib
.mono/
.npm/
.nuget/
.pgpass
.pki/
.psql_history
.sqlsecrets/
.ssh/
.swt/
.vsts/
.Xauthority
.zoom/
