#
# This is a Git repo that will be part in the root of a user directory
#
# We want to ignore most of the stuff automatically so we don't accidentially add
# it during configuration change commits
#

# we dont want to add the user's .gitconfig
.gitconfig

# General stuff
.Xauthority
.esd_auth
.bash_history
.bash_logout
.cache/
.mozilla/
.ssh/
.vim/
.viminfo
.lesshst
.local/
.azure/
.ncmpcpp/
.pacupgrnum
.mono/
.omnisharp/
.wine/
.dotnet/
.gnupg/
.mchp_packs/
.mplab_ide/
.mplab_ipe/
.mplabcomm/
go/
.minecraft/

# Add directoies we use
[A-Z]*/
bin/
lib/
dev/

# LARBS generated stuff
.fehbg
.shortcuts

# Additional Configs
.config/.mono/
.config/pulse/
.config/mpd/
.config/menus/
.config/dconf/
.config/htop/
.config/youtube-viewer/
.config/configstore/
.config/teamviewer
.config/QtProject.conf
.config/WSJT-X.ini
.config/gqrx
.config/gtk-2.0/
.AstroDMx/
.config/kstars.kmessagebox
.config/kstarsrc
.dmrc
.npm/
.nuget/
.templateengine/
.python_history
.java
.gnuradio
.gr_fftw*
.xsession*
.sqlite_history

# don't add additional config/cache files and folders
.calcurse/
.chirp/
.stellarium/
.gsutil/
.pki/
.gem/
.bundle/
