Downloads/
GDrive/
Work/

.aspnet/
.aws/
.azuredatastudio/
.bundle/
.cache/
.config/azuredatastudio/
.config/BraveSoftware/
.config/GIMP
.config/configstore/
.config/dconf/
.config/discord/
.config/fontconfig/fonts.conf.new
.config/fontconfig/fonts.conf.orig
.config/gdfuse/
.config/gtk-2.0/
.config/helm/
.config/htop/
.config/JetBrains/
.config/KeePass/
.config/Lens/
.config/menus/
.config/Microsoft/
.config/.mono/
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/nvim/plugged/
.config/nvim/sessions/
.config/pulse
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/Slack/
.config/teams/
.config/Unknown Organization/
.config/whatsapp-nativefier-d40211/
.config/zoomus.conf
.config/zsh/.zcompdump
.dotnet/
.gitconfig
.gnome/
.java/
.kube/
.local/share/TelegramDesktop/
.local/share/applications/mimeinfo.cache
.local/share/applications/userapp-Telegram Desktop-0WVJ10.desktop
.local/share/applications/jetbrains-rider.desktop
.local/share/gdfuse/
.local/share/gem/
.local/share/history
.local/share/JetBrains/
.local/share/lf/
.local/share/MicrosoftCredentialProvider/
.local/share/newsboat/
.local/share/NuGet/
.local/share/nvim/
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.local/src/
.mono/
.npm/
.nuget/
.pgpass
.pki/
.psql_history
.sqlsecrets/
.ssh/
.swt/
.vsts/
.Xauthority
.zoom/
